.pop-up__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
}

@media screen and (max-width: 426px) {
  .pop-up__close-button {
    width: 20px;
    height: 20px;
    top: -38px;
    right: 0;
  }
}